@import 'tailwindcss';

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 640px) {
    max-width: 640px;
    padding-inline: 1.5rem;
  }
  @media (width >= 768px) {
    max-width: 768px;
    padding-inline: 2rem;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
    padding-inline: 2rem;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
    padding-inline: 2rem;
  }
  @media (width >= 1536px) {
    max-width: 1536px;
    padding-inline: 2rem;
  }
}

@theme {
  --color-primary-black: #1e1e1e;
  --color-primary-white: #f5f5f5;
  --color-primary-gray: #b0b0b0;

  --color-secondary-black: #2d2d2d;
  --color-secondary-gray: #3c3c3c;

  --color-accent: #cfc8b8;

  --spacing-2xl: 128px;
  --spacing-xl: 64px;
  --spacing-lg: 32px;
  --spacing-md: 16px;
  --spacing-sm: 8px;
  --spacing-xs: 4px;

  --background-image-primary-black-vertical: linear-gradient(
    to bottom,
    #2d2d2d,
    #121212
  );
  --background-image-primary-black-horizontal: linear-gradient(
    to right,
    #121212,
    #3b3b3b
  );
  --background-image-accent-vertical: linear-gradient(
    to bottom,
    #cfc8b8,
    #8e897e
  );
  --background-image-accent-horizontal: linear-gradient(
    to right,
    #cfc8b8,
    #8e897e
  );

  --font-montserrat: Montserrat, sans-serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

* {
  @apply z-10;
}

body {
  @apply font-montserrat;
}

nav,
footer {
  @apply z-20;
}

.btn-primary-v,
.bg-primary-v {
  @apply bg-primary-black-vertical duration-300;
}

.btn-primary-h,
.bg-primary-h {
  @apply bg-primary-black-horizontal duration-300;
}

.text-accent-h,
.btn-accent-h {
  @apply bg-accent-horizontal duration-300;
}

.text-accent-v,
.btn-accent-v {
  @apply bg-accent-vertical duration-300;
}

.btn-accent-v:hover,
.btn-accent-h:hover,
.btn-primary-v:hover,
.btn-primary-h:hover {
  @apply brightness-110;
}

.btn-accent-v:focus,
.btn-accent-h:focus,
.btn-primary-v:focus,
.btn-primary-h:focus {
  @apply brightness-75;
}

.field {
  @apply bg-secondary-black text-primary-gray rounded-lg py-sm px-md outline-hidden placeholder-primary-gray;
}

.btn {
  @apply px-8 py-2 rounded-xl text-primary-white font-semibold;
}

p {
  @apply leading-relaxed;
}

.swiper-button-prev,
.swiper-button-next {
  color: #cfc8b8 !important;
  z-index: 20 !important;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.5);
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
}
.swiper-pagination-bullet {
  background: #cfc8b8 !important;
  opacity: 0.4;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #cfc8b8 !important;
}
.swiper-pagination {
  position: relative !important;
  bottom: 10px !important;
  padding-top: 36px !important;
}

.blob {
  @apply w-[300px] h-[300px] bg-accent rounded-full blur-[250px] fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.spinner {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #cfc8b8 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #cfc8b8);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
